<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- CADENA DE CONEXION  -->
    <!-- SERVIDOR -->
    <add key="ServidorBaseDatos" value="LUISAMOS-PC" />
    <!-- BASE DE DATOS -->
    <add key="BaseDatos" value="NOMENCLATURA" />
    <!-- USUARIO -->
    <add key="Usuario" value="sa" />
    <!-- CONTRASEÑA -->
    <add key="Contraseña" value="luisamos" />
    <!---->
    <!-- UBICACION GEOGRAFICA  -->
    <!-- DEPARTAMENTO -->
    <add key="Departamento" value="08" />
    <!-- PROVINCIA -->
    <add key="Provincia" value="04" />
    <!-- DISTRITO -->
    <add key="Distrito" value="01" />
    <!---->
    <!-- CONTROL FICHA-->
    <!-- SUPERVISOR -->
    <add key="Supervisor" value="23862194" />
    <!-- TECNICO CATASTRAL -->
    <add key="TecnicoCatastral" value="42281137" />
    <!-- DIGITACION -->
    <add key="Digitacion" value="23934596" />
    <!---->
    <!-- CONFIGURACION  DEL SISTEMA-->
    <!-- NOMBRE DEL MUNICIPIO -->
    <add key="Municipio" value="MUNICIPALIDAD PROVINCIAL DE CALCA" />
    <!-- LOGO -->
    <add key="Logo" value="Img/calca.jpg" />
    <!-- ALCALDE -->
    <add key="Alcalde" value="ARQUEOLOGO WASHINGTON CAMACHO MERMA" />
    <!-- DIRECCION -->
    <add key="Direccion" value="PLAZA CONSTITUCION NRO, 519" />
    <!-- RUC -->
    <add key="Ruc" value="123456789010" />
    <!-- TELEFONO -->
    <add key="Telefono" value="+51 (084) 203026" />
    <!-- CORREO ELECTRONICO -->
    <add key="CorreoElectronico" value="informatica@municalca.gob.pe" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>